.todo-item{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 8px;
    padding: 5px 10px;
    align-items: center;
    position: relative;
    padding-right: 50px;
    width: min(700px, 100%);
    z-index: 2;

    .radio{
        border: 1px solid black;
        width: 15px;
        min-width: 15px;
        height: 15px;
        appearance: none;
        margin-right: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s ease-in-out all;

        &.filled{
            border: 1px solid #3aad3a;
            background-color: #3aad3a;
        }
    }

    .todo-text{
        &.underline{
            text-decoration: line-through;
        }
    }

    .todo-delete{
        position: absolute;
        right: 10px;
        background-color: white;
        border: 2px solid white;
        color: #c72626;;
        font-size: 12px;
        padding: 5px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 100%;
        font-weight: bold;
        cursor: pointer;

        &:hover{
            background-color: #c72626;;
            color: white;
            transition: 0.2s ease-in-out all;
        }
    }
}